<div class="wrapper" style="overflow-x: hidden;">
   

        <nav class="navbar navbar-default topnav" >
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                   
                    
                </div>
                
                <div class="collapse navbar-collapse topnav">
                    <ul class="nav navbar-nav topnav a">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-panel"></i>
								<p class="topnav a">Personal</p>
                            </a>
                        </li>
                        
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-panel"></i>
								<p class="topnav a">Privilege</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-panel"></i>
								<p class="topnav a">Wealth</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-panel"></i>
								<p class="topnav a">Private</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-panel"></i>
								<p class="topnav a">NRI</p>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-panel"></i>
								<p class="topnav a">Corporate</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-panel"></i>
								<p class="topnav a">Business</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-panel"></i>
								<p class="topnav a">About Us</p>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-panel"></i>
								<p class="topnav a"><span class="glyphicon glyphicon-gift" style="padding-left: 30px;size: 20px"></span>Offers</p>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-panel"></i>
								<p class="topnav a"><span class="glyphicon glyphicon-question-sign"></span>Help</p>
                            </a>
                        </li>

                        

                        
                    </ul>

                </div>
            </div>
        </nav>

        <br>
        <div class="midnav collapse navbar-collapse">
         <ul class="nav nav-tabs nav-justified">
                <a routerLink="/home" style="padding-left: 70px"><li><img src = "\assets\15995957_1019720238173226_861187846_n.png" width="200px" height="80px" class="a"></li></a>
          <li><a href="#about" style="padding-left: 70px"><span class="a" >Products</span></a></li>
          <li><a href="#about" style="padding-left: 70px"><span class="a">Apply Online</span></a></li>
            <li><a href="#about" style="padding-left: 70px"><span class="a">Payments</span></a></li>
              <li><a href="#about" style="padding-left: 70px"><span class="a">Ways To Bank</span></a></li>
                <li><a href="#about" style="padding-left: 70px"><span class="a">Get In Touch</span></a></li>
                <li><a routerLink="/Register" style="padding-left: 70px"><span class="a">Register</span></a></li>
         </ul>
         </div>
        
    <router-outlet></router-outlet>
    <table align=center>
            <tr>
          <td>
                <img src="\assets\DisplayImage_AtmBanking.png" alt="Avatar" class="image" >
                </td>
                <td>
                        <img src="\assets\DisplayImage_InternetBanking.png" alt="Avatar" class="image" >
                </td>
                <td>
                        <img src="\assets\DisplayImage_MobileBanking.png" alt="Avatar" class="image" >
                </td>
                </tr>
                


    </table>
    <div style="background-color: orangered">
        <marquee behavior="scroll" direction="left" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 25px">Welcome to Selfexpo bank of canada</marquee>
    </div>
   
</div>
      

      